<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Log In </title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>
  <h1> Log In!</h1>

  {% if error %}
    {{ error }}
  <br />
  <br />
  {% endif %}

    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        Username:
        <br />
        <input type="text" name="username"/>
        <br />
        Password:
        <br/>
        <input type="password" name="password"/>
        <br />
        <input type="submit" value="Login"/>
    </form>
  </body>
</html>