<title> Signup </title>
{% extends 'base.html' %}
  {% block content %}
  <h1> Sign up!</h1>

  {% if error %}
  {{ error }}
  <br />
  <br />
  {% endif %}

    <form action="{% url 'accounts:signup' %}" method="POST">
        {% csrf_token %}
        Username:
        <br />
        <input type="text" name="username"/>
        <br />
        Password:
        <br/>
        <input type="password" name="password1"/>
        <br />
        Confirm Password:
        <br />
        <input type="password" name="password2"/>
        <br />
        <input type="submit" value="Sign up!"/>
    </form>
 {% endblock %}
